body {
	margin: 0;
}

.text_aligner {
	position: fixed;
	margin: 4px;
}

#projects {
	margin: 0;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	position: fixed;
	width: 100%;
}

ul.sidenav {
	list-style-type: none;
	margin-top: 4.1%;
	padding: 0;
	width: 20%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.sidenav li a {
	display: block;
	color: #000;
	padding: 16px 16px;
	text-decoration: none;
}

ul.sidenav li.bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#projects.sidenav li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.not_active){
	background-color: #111;
}

ul.topnav li a.not_active {
	margin-top: 5px;
}

ul.topnav li.right {
	float: right;
}

ul.topnav li.center {
	position: absolute;
	padding-left: 20%;
}

ul.sidenav li a:hover, .mycontent li a:hover {
	background-color: #555;
	color: white;
}

ul.sidenav li a:active {
	background-color: #4CAF50;
	color: white;
}

#projects.sidenav li a:hover {
	background-color: #555;
	color: white;
}

#projects.sidenav li a:active {
	background-color: #4CAF50;
	color: white;
}

#main {
	position: fixed;
	margin-left: 20%;
	margin-top: 4.1%;
	height: 100%;
	width: 100%;
	background-color: #d6d7d8;
}

.mycontent {
	padding:0px;
	margin: 0px;
	list-style-type: none;
}

.mycontent li a {
	transition: .3s;
	display: block;
	padding: 10px;
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	ul.topnav {
		poisition: relative;
	}
	ul.sidenav {
		display: none;
	}
	ul.topnav li.right, ul.topnav li, ul.sidenav li {
		float: none;
	}
	ul.topnav li.center {
		float: none;
		position: relative;
		padding-left: 0;
	}
}